default:
    suites:
        default:
            paths:
                - tests/features
            contexts:
                - App\Tests\Behat\FeatureContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
            bootstrap: config/behat/bootstrap.php
